/* Style Sheet for Responsive Portfolio Homework  */

#navbar {
    font-family: 'Barlow', sans-serif;
}

#mainimage {
    height: 200px;
    width: 150px;
    float: left;
    margin-right: 10px;
}

.portfolioimage {
    width: 200px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-text {
    color: black;
    margin-right: 25px;
}

#footerbox {
    height: 75px;
    margin: 10px;
}

.footertext {
    margin-top: 10px;
    text-align: center;
    color: grey;
    font-size: medium;
    font-family: 'Barlow', sans-serif;
}

#aboutme {
    margin-bottom: 10%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Barlow', sans-serif;
    color: black;
    background-color: whitesmoke;
}

.contactcard {
    color: black;
    font: bolder;
    margin-top: 10px;
}

.card-header {
    background-color: whitesmoke;
}

.skillslist {
    float: left;
    width: auto;
    margin-bottom: 35px;
}