/* Style Sheet for Responsive Portfolio Homework  */

#navbar {
    font-family: 'Barlow', sans-serif;
}

img {
    height: 200px;
    width: 150px;
    float: left;
    margin-right: 25px;
}

.card-text {
    color: black;
    margin-right: 25px;
}

#footerbox {
    height: 75px;
    margin: 10px;   
}
.footertext {
    margin-top: 10px;
    text-align: center;
    color: grey;
    font-size: medium;
    font-family: 'Barlow', sans-serif;
}

#aboutme {
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Barlow', sans-serif;
    color: black;
}


#placeholder {
    margin-top: 20px;
    margin-bottom: 20px;
    
}