/* Style Sheet for Responsive Portfolio Homework  */

.portfolioimage {
    width: 200px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-text {
    color: black;
    /* margin-left: 0px; */
}

.footertext {
    margin-top: 10px;
    text-align: center;
    color: grey;
    font-size: medium;
    font-family: 'Barlow', sans-serif;
}

.contactcard {
    color: black;
    font: bolder;
    margin-top: 10px;
}

.card-header {
    background-color: whitesmoke;
    font-style: italic;
}


.body {
    /* height: 720px; */
    /* width: 100%; */
    font-family: 'Barlow', sans-serif;
    color: black;
    border: 2px solid black;
    margin: 10px;
}

#aboutme{

}

#aboutmetxt {
    font-size: large;
    /* margin: 2px; */
}

#linkcard {


}

footer {
    margin-top: 10px;
}
#footerbox {

    height: 75px;
    margin-top: auto;
}


#navbar {
    font-family: 'Barlow', sans-serif;
}

#mainimage {
    height: 90%;
    width: 95%;
    float: left;
    margin: 15px;
    border: 2px solid black;
}

#passwordgeneratorimg {
    height: 175px;
    width: 250px;
}

#passwordgeneratortxt {
    font-size: larger;
    margin-top: -10px;
    margin-left: 85px;
    font-weight: bolder;
    text-decoration: underline;
}

#sidebar {
    font-family: 'Barlow', sans-serif;

}


#mainbody {
    background-image: url(https://images.unsplash.com/photo-1455612693675-112974d4880b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=1600&h=500&q=60);
}

.imgcard{
    border: 2px solid black;
    margin: 10px;


}
.socialImg {
    width: 100px;
    border: none;
    display: block;
    margin: 0 auto;
}

.social {
    margin: 5%;
    margin-left: 0%;
    border: 2px solid gray;
}

.linkbtn {
    width: 110%;
    height: 75%;
    margin-top: 10px;
}

.lists {
    border: 2px solid lightgrey;
    background-color: whitesmoke;
}

